# dependencies
node_modules

# builds
dist
apps/*/dist

# env
**/.env
.env.local

# expo
.expo
.expo-shared

# logs
*.log

# macOS
.DS_Store

# vscode
.vscode

# typescript
*.tsbuildinfo

# prisma generated client
apps/backend/src/generated/prisma